<%- include('./partials/header'); %>

<main>
    <div class="container">
        <img src="/images/ilustra-chill.png" alt="Ilustração de pessoa no sofá com gato">
        <div class="box-white">
            <h1>Login</h1>
            <form action="/login" method="post">
                <label for="email">Email</label>
                <input type="text" name="email" id="email">
                
                <label for="senha">Senha</label>
                <input type="password" name="senha" id="senha">

                <button class="btn btn-primary">entrar</button>
            </form>
            <a href="/cadastro">ainda não tenho cadastro</a>
        </div>
    </div>
</main>
<%- include('./partials/footer'); %>